# Dependências do Node.js
node_modules/
package-lock.json

# Arquivos de configurações locais / sensíveis
.env

# Logs do sistema e servidores
*.log
logs/

# Arquivos temporários do OS
.DS_Store
Thumbs.db
